
<body class="whole">
  <div class="container">

    <h2>Feedback Form</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="feedbackform">
      <label for="name">Your Name:</label>
      <input type="text" id="name" formControlName="name" required>

      <label for="city">Your City:</label>
      <input type="text" id="city" formControlName="city" required>

      <label for="feedback">Your Feedback:</label>
      <textarea id="feedback" formControlName="feedback" rows="4" required></textarea><br>

      <button type="submit" id="sendFeedbackBtn">Submit</button>
    </form>
    <div id="feedbackMessage"></div>
  </div>

  <script>
  </script>
</body>

