<body>
    
    <div>
        <h2 class="heading">About us</h2>
        <p class="para">Sair Karo is India's largest online ticketing platform that has transformed travel in the world by
            bringing ease and convenience to millions of Indians who travel using buses,planes and train. Founded in 2024,
            Sair Karo is startup company of India's leading online travel company. By providing widest choice, superior
            customer service, lowest prices and unmatched benefits, Sair Karo has serving millions of pepole to book tickets
            easily. Sair Karo is only for india citizen due to newly started company.But in future we expands our presence
            all over the world.</p>
        </div>
        
        <h2 class="heading">Management Team</h2>
        <div class="card">
            <img src="./assets/member.jpg" alt="Image" class="card-image">
            <div class="card-content">
                <h2>ABC, CEO</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/member.jpg" alt="Image" class="card-image">
            <div class="card-content">
                <h2>ABC, CEO</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
    
        <div>
            <h2 class="heading">Office Location</h2>
            <p class="para">Our office is located at:</p>
            <p class="para">Balewadi High Street</p>
            <p class="para">Pune,Maharashtra, PinCode-410230</p>
        </div>
  
</body>
        