<div class="whole">
<div class="flight-booking-form">
  <h2>Book a Flight Ticket</h2>
  <form (ngSubmit)="bookTicket()" [formGroup]="flightForm">
    <div class="form-group">
      <label for="dateTime">Date & Time:</label>
      <input type="datetime-local" id="dateTime"  class="form-control" required formControlName="dateTime">
    </div>
    <div class="form-group">
      <label for="travelFrom">Travel From:</label>
      <select id="travelFrom"  class="form-control" required formControlName="travelFrom">
        <option value="">Select</option>
        <option value="city1">City 1</option>
        <option value="city2">City 2</option>
        <option value="city3">City 3</option>
      </select>
    </div>
    <div class="form-group">
      <label for="travelTo">Travel To:</label>
      <select id="travelTo" class="form-control" required formControlName="travelTo">
        <option value="">Select</option>
        <option value="city1">City 1</option>
        <option value="city2">City 2</option>
        <option value="city3">City 3</option>
      </select>
    </div>
    <div class="form-group">
      <label for="preferredClass">Preferred Class:</label>
      <select id="preferredClass" formControlName="preferredClass" class="form-control" required >
        <option value="">Select Preferred Class</option>
        <option value="First">First</option>
        <option value="Business">Business</option>
        <option value="Economy">Economy</option>
      </select>
    </div>
    <div class="form-group">
      <label for="preferredSeat">Preferred Seat:</label>
      <select id="preferredSeat" formControlName="preferredSeat" class="form-control" required >
        <option value="">Select Preferred Seat</option>
        <option value="Window">Window</option>
        <option value="Any Other">Any Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Your Name:</label>
      <input type="text" id="name" formControlName="name" class="form-control" required >
    </div>
    <div class="form-group">
      <label for="age">Your Age:</label>
      <input type="number" id="age" formControlName="age" class="form-control" required >
    </div>
    <div class="form-group">
      <label for="mobileNumber">Your Mobile Number:</label>
      <input type="tel" id="mobileNumber" formControlName="mobileNumber" class="form-control" required >
    </div>
    <div class="form-group">
      <label for="paymentMethod">Payment Method:</label>
      <select id="paymentMethod" formControlName="paymentMethod" class="form-control" required >
        <option value="">Select Payment Method</option>
        <option value="Net Banking">Net Banking</option>
        <option value="QR Code">Through QR Code</option>
        <option value="UPI">UPI Payment</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Book Ticket</button>
  </form>
</div>
</div>