<body>
  <img src="./assets/home.jpeg" alt="">
  <div class="homepage">
 
    <div class="rotator">
      <h2>Welcome to Our Website</h2>
      <p>Check out our latest services and discount plans:</p>
      <div class="service">
        
        <img src="./assets/disc.jpg" class="discount">
      </div>
      <div class="service">
        <h3>Flexible Ticket Cancel Policy</h3>
        <p>Book with confidence - cancel or reschedule your tickets easily.</p>
      </div>
      <div class="service">
        <h3>Delicious Food Service</h3>
        <p>Discover our in-flight food options and pre-order your meals.</p>
      </div>
    </div>
  </div>
  
</body>